.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}


.workSection{
    grid-column: 1;
    grid-row: 1;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}

.playSection{
    grid-column: 2;
    grid-row: 1;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}

.studySection{
    grid-column: 3;
    grid-row: 1;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}

.exerciseSection{
    grid-column: 1;
    grid-row: 2;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}

.socialSection{
    grid-column: 2;
    grid-row: 2;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}

.selfCareSection{
    grid-column: 3;
    grid-row: 2;
    background-color: #171a3f;
    border-radius: 1.2rem;
    color: white;
}