@font-face {
    font-family: Rubik;
    src: url('https://fonts.google.com/specimen/Rubik');
}

body{
    background-color: hsl(226, 43%, 10%);
    font-family: Rubik, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* Credit to mike for the min height */
}


.profile-picture{
    width: 30%;
    height: 30%;
    border: white 3px;
    margin-top: 25px;
    margin-left: 30px;
}

.profile-text{
    font-size: 40px;

    margin-left: 30px;
}

.button-margin{
    margin-left: 30px;
}

.report-margin{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.75rem;
}

.nameSection{
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.workSection{
    grid-column: 2;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.work-icon{
    background-color: hsl(15, 100%, 70%);
    height: 75px;
}

.playSection{
    grid-column: 3;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.play-icon{
   background-color:  hsl(195, 74%, 62%);
   height: 75px;
}

.studySection{
    grid-column: 4;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.study-icon{
    background-color: hsl(348, 100%, 68%);
    height: 75px;
}

.exerciseSection{
    grid-column: 2;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.exercise-icon{
    background-color: hsl(145, 58%, 55%);
    height: 75px;
}

.socialSection{
    grid-column: 3;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.social-icon{
    background-color: hsl(264, 64%, 52%);
    height: 75px;
}

.selfCareSection{
    grid-column: 4;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 0.9rem;
    color: white;
}

.selfcare-icon{
    background-color: hsl(43, 84%, 65%);
    height: 75px;
}

.border-radius{
    border-radius: 1rem;
}

.negative-margin{
    margin-top: -0.5rem;
}